/************* IE6 FIXES & STYLES ***/
ul#nav li a:link,
ul#nav li a:visited { line-height: 49px; }

#content { padding: 0 20px 0 0; }

#content.wide { padding: 0; }

#helpPanel #helpVideo { margin: 0 0 -3px 0; }

form ol li.half,
form ul li.half { width: 45.5%; }

button { width: 190px; }

	button span { margin: 0; }

#sidebar #checklist div.content ol li { padding: 0 0 0 5px; }

#interface ul#steps li { margin: 0 0 -5px 0; }

ul#nav li { 
	float: left; 
	margin: 0 0 -5px 0; }
	
ul.sf-menu li li a .sf-sub-indicator { 
	right: 12px;
	top: 6px; }
	
#reportPagination { margin: 0 0 -18px 0; }