/*** HTML / Body Styles ***/
html, body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #777;
}

body { 
	padding: 5px; 
	background-color: #C1C1C1;
}

	body.home {
		background-color: #fff; 
	}
	

/*** Heading Styles ***/
h1, h2, h3, h4, h5, h6, address {
	font-weight: bold;
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; 
}
	
h1 {
	margin: 0 0 10px 0;
	font-size: 32px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	line-height: 34px;
	color: #058fd3; 
}

h2 { 
	margin: 0 0 20px 0;
	font-size: 26px;
	font-weight: normal;
	font-family: Arial, sans-serif;
	line-height: 28px;
	color: #333; 
}

h3 { 
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: normal;
	font-family: "Helvetica Neue LT Std", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 22px;
	color: #777; 
}

h4 {
	font-size: 14px;
	color: #058fd3;
	margin: 0 0 30px 0;
}

	h4 i { 
		color: #058fd3;
	}
	
	h4.nomargin {
		font-size: 14px;
		color: #058fd3;
		margin: 0 0 0px 0;
	}
	
	h4.large {
		font-size: 18px;
	}


/*** Link Styles ***/
a:link, a:visited { 
	text-decoration: none; 
	color: #058fd3;
	border-bottom: 1px solid #058fd3; 
}
	
a:hover, a:active, a.active { 
	color: #058fd3;
	border-bottom: 1px solid #058fd3; 
}

a.greenlink {
	color: #00AA00;	
}


/*** Button Styles ***/
a.button {
	display: inline-block;
	cursor: pointer;
	background: url(../../images/button_right_bg.jpg) center right no-repeat;
	border: none; 
}

	a.button span {
		display: inline-block;
		height: 31px;
		margin: 0 3px 0 0;
		padding: 0 7px 0 11px;
		font-size: 14px;
		line-height: 27px;
		color: #fff; 
		background: url(../../images/button_left_bg.jpg) center left no-repeat; 
	}


/*** Generic Styles ***/
strong, em, b, i, small {
	font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	color: #444; 
}
		
p {
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 16px 0; 
}

hr { 
	display: block; 
	height: 1px;
	margin: 25px 0;
	border: 1px solid #e3e3e3; 
	border-width: 1px 0 0 0; 
}

ul.list { 
	margin: 0 0 0 15px; 
}

	ul.list li { 
		margin: 0 0 5px 0; 
	}

ul.bulleted { 
	list-style-type: square; 
}

ul.bulleted-preview { 
	list-style-type: square; 
	padding-left: 35px !important;
}

ol.legal {
	list-style-type: decimal;
	margin: 2px 2px 2px 20px;
}

	ol.legal li {
		float: none; 
		margin: 2px 2px 2px 10px;
		padding: 2px;
		display: list-item;
	}
	
	ol.legal li ol {
		list-style-type: lower-alpha;
		margin-left: 10px;
	}
	
	ol.legal li ol li { 
		margin: 2px 2px 2px 10px;
		padding: 2px;
		display: list-item;
	}
	
	ol.legal li ol li ol {
		list-style-type: lower-roman;
		margin: 2px 2px 2px 10px; 
	}
	
	ol.legal li ol li ol li { 
		margin: 2px 2px 2px 10px;
		padding: 2px;
		display: list-item;
	}

	ol.legal li span.legal-title { 
		font-weight: bold; 
	}

.nomarg {
	margin-right: 0pc;
}

.rightalign { 
	text-align: right; 
}

.floatRight { 
	float: right; 
	margin: 0 0 15px 15px; }

.floatLeft { 
	float: left; 
	margin: 0 15px 15px 0; 
}	
	
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;	
}

.hidden {
	display: none;	
}

.separator {
	position: relative;
	top: -2px;
	vertical-align: middle;
	margin: 0 5px;
}

.dotseparator {
	display: inline-block;
	background: url(../../images/whitedot.jpg) 0px 9px no-repeat;
	width: 10px;
	height: 15px;
	margin-left: 5px;
	margin-right: 2px;
}

	body.home .dotseparator {
		background: url(../../images/greydot.jpg) 0px 8px no-repeat;
	}


/*** Clearfix Styles ***/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; 
}

.clearfix { 
	display: inline-block; 
}

html[xmlns] .clearfix { 
	display: block; 
}

* html .clearfix { 
	height: 1%; 
}

.clear { 
	clear:both; 
}		