#headerMsg {
	display: none;
}

table td.label {
	width: 115px;
}

table td.submit {
	padding-left: 21px;
}

#adbModule p {
	padding-left: 8px;
}
	
#pageTitle {
	padding-left: 8px;
}